In [23]:
import pandas as pd
phone0 = pd.Series(["apple","samsung","mi","sony"],        #pandas 建立物件
                 index=["p1","p2","p3","p4"])             #index 建立索引值
phone1 = pd.Series(["nokia","rog"],
                  index=["p5","p6"])                      
phone = phone0.append(phone1,ignore_index = True)           #合併     #ignore_index 忽略原始索引值

print(phone.size)      #取得資料筆數
print("--------------------")
print(phone.str.upper())  #字串轉大寫
print("--------------------")
print(phone.str.lower())  #字串轉小寫
print("--------------------")
print(phone.str.contains("ap"))  #收尋是否包含特定字串
print("--------------------")
print(phone.str.cat(sep = "/"))  #自訂分隔符號
print("--------------------")
print(phone.str.replace("samsung","oppo"))  #samsung 取代為 oppo
print("--------------------")

6
--------------------
0      APPLE
1    SAMSUNG
2         MI
3       SONY
4      NOKIA
5        ROG
dtype: object
--------------------
0      apple
1    samsung
2         mi
3       sony
4      nokia
5        rog
dtype: object
--------------------
0     True
1    False
2    False
3    False
4    False
5    False
dtype: bool
--------------------
apple/samsung/mi/sony/nokia/rog
--------------------
0    apple
1     oppo
2       mi
3     sony
4    nokia
5      rog
dtype: object
--------------------

/var/folders/jb/mp7nggy97k59ky0kx45s0cbr0000gn/T/ipykernel_19787/3159719996.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  phone = phone0.append(phone1,ignore_index = True)           #合併     #ignore_index 忽略原始索引值

In [29]:
numbers = pd.Series([12,23,34,45,56,67])
print(numbers.max())  #最大數值
print("--------------------")
print(numbers.min())  #最小數值
print("--------------------")
print(numbers.sum())  #加總
print("--------------------")
print(numbers.mean()) #平均
print("--------------------")
print(numbers.nlargest(2))  #最大的兩個數值
print("--------------------")
print(numbers.nsmallest(2)) #最小的兩個數值

67
--------------------
12
--------------------
237
--------------------
39.5
--------------------
5    67
4    56
dtype: int64
--------------------
0    12
1    23
dtype: int64

In [28]:
import pandas as pd


grades = {
    "name":["Mike","Sherry","Cindy","John"],
    "math":[80,75,93,86],
    "chinese":[63,90,85,70]
}

df = pd.DataFrame(grades)
df.index = ["s1","s2","s3","s4"]   #自訂索引列
df.columns = ["name","math_score","chinese_score"] #自訂欄位名稱
print(df)
print("-------------")
new_df = df.head(2)
print(new_df)
print("------取得單一欄位資料(類型為Series)""-------")
print(df["name"])  #取得單一欄位資料(類型為Series)
print("-------------")
print(df[["name"]])
print("-------------")
print(df[["name",]])
print("-------------")
print(df[0:3])
print("------at(x,y) 取得x列 y欄的資料  at(key,key)""-------")
print(df.at["s1","name"])   # at(x,y) 取得x列 y欄的資料  at(key,key)
print("------iat(key,欄位索引值)""-------")
df.index = [1,2,3,4]
print(df.iat[0,0])           #iat(key,欄位索引值)
print("------取得多筆資料-------")
print(df.loc[[1,2],["name","math_score"]])   #取得多筆資料
print(df.iloc[[1,2],[0,0]])
print("------新增dataframe 資料(欄)""-------")
df.insert(2,column = "english",value =[88,72,74,98])  #新增dataframe 資料
print(df)
print("-----新增dataframe 資料(列)""--------")
new_df = df.append({
    "name":"Henry",
    "math_score":60,
    "english":70,
    "chinese_score":88
},ignore_index = True)
print(new_df)
print("-----------------")
new_df = df.drop(["english"],axis=1)
print(new_df)



#dropna() 刪除有na的列
#drop_duplicates() 刪除重複的列
print("----篩選-------")
print(df[df["math_score"]>80])

      name  math_score  chinese_score
s1    Mike          80             63
s2  Sherry          75             90
s3   Cindy          93             85
s4    John          86             70
-------------
      name  math_score  chinese_score
s1    Mike          80             63
s2  Sherry          75             90
------取得單一欄位資料(類型為Series)-------
s1      Mike
s2    Sherry
s3     Cindy
s4      John
Name: name, dtype: object
-------------
      name
s1    Mike
s2  Sherry
s3   Cindy
s4    John
-------------
      name
s1    Mike
s2  Sherry
s3   Cindy
s4    John
-------------
      name  math_score  chinese_score
s1    Mike          80             63
s2  Sherry          75             90
s3   Cindy          93             85
------at(x,y) 取得x列 y欄的資料  at(key,key)-------
Mike
------iat(key,欄位索引值)-------
Mike
------取得多筆資料-------
     name  math_score
1    Mike          80
2  Sherry          75
     name    name
2  Sherry  Sherry
3   Cindy   Cindy
------新增dataframe 資料(欄)-------
     name  math_score  english  chinese_score
1    Mike          80       88             63
2  Sherry          75       72             90
3   Cindy          93       74             85
4    John          86       98             70
-----新增dataframe 資料(列)--------
     name  math_score  english  chinese_score
0    Mike          80       88             63
1  Sherry          75       72             90
2   Cindy          93       74             85
3    John          86       98             70
4   Henry          60       70             88
-----------------
     name  math_score  chinese_score
1    Mike          80             63
2  Sherry          75             90
3   Cindy          93             85
4    John          86             70
----篩選-------
    name  math_score  english  chinese_score
3  Cindy          93       74             85
4   John          86       98             70

/var/folders/jb/mp7nggy97k59ky0kx45s0cbr0000gn/T/ipykernel_1053/1588174332.py:37: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = df.append({

In [3]:
grades = [
    ["Mike",80,63],
    ["Shrry",75,90],
    ["Cindy",93,85],
    ["John",86,70]
]
new_df = pd.DataFrame(grades)
print(new_df)

       0   1   2
0   Mike  80  63
1  Shrry  75  90
2  Cindy  93  85
3   John  86  70

In [1]:
#import pandas as pd
#exl = pd.read.excel("testtest.xlsx")